<div class="hiddenOverflow row">
    <div class="col s12 noPadding">
        <swiper [config]="config">
            <div class="swiper-wrapper">
              <img class="swiper-slide" *ngFor="let imageSlide of carouselImages" [src]="imageSlide">
            </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </swiper>
    </div>
  <div class="container hiddenOverflow">
    <div class="col s12">
      <div [ngsReveal]="{ reset: false}" class="col s12">
        <h3 class="text-center">
          CELE MAI CĂUTATE PRODUSE
        </h3>
      </div>
      <div class='md-padding row'>
        <div class="col m4 s12" *ngFor="let mostWanted of mostWantedProductsShuffled | orderby: ['-rank']">
          <div class="card hoverable large" [ngsReveal]="{ reset: false}">
            <div class="card-image">
              <img alt="{{mostWanted.name}}" src="{{mostWanted.headerImageURL}}" class="hide-on-med-and-down">
              <img alt="{{mostWanted.name}}" src="{{mostWanted.headerImageURL}}" class="hide-on-large-only" >
            </div>
            <div class="card-content">
              <span class="card-title">{{mostWanted.name}}</span>
              <p>
                {{mostWanted.previewData}}
              </p>
            </div>
            <div class="card-action">
              <a [routerLink]="['/produs', mostWanted.categoryID, mostWanted._id]">Citește mai mult</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div [ngsReveal]="{ reset: false}" class="col s12">
        <h3 class="text-center">
          CELE MAI NOI PRODUSE
        </h3>
      </div>
      <div class='md-padding row'>
        <div class="col m4 s12" *ngFor="let latest of latestProducts" >
          <div class="card hoverable large" [ngsReveal]="{ reset: false}">
            <div class="card-image">
              <img alt="{{latest.name}}" src="{{latest.headerImageURL}}" class="hide-on-med-and-down">
              <img alt="{{latest.name}}" src="{{latest.headerImageURL}}" class="hide-on-large-only" >
            </div>
            <div class="card-content">
              <span class="card-title">{{latest.name}}</span>
              <p>
                {{latest.previewData}}
              </p>
            </div>
            <div class="card-action">
              <a [routerLink]="['/produs', latest.categoryID, latest._id]">Citește mai mult</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col s12 noPadding">
        <div [ngsReveal]="{ reset: false}"  class="col s12 noPadding">
            <h3 class="text-center">
                UNDE SUNTEM?
            </h3>
        </div>
        <div [ngsReveal]="{ reset: false}"  class="col s12 valign-wrapper noPadding">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d696.5665032481407!2d27.171978829271033!3d45.705699998694044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDQyJzIwLjUiTiAyN8KwMTAnMjEuMSJF!5e0!3m2!1sro!2sro!4v1473861430473" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col s12">
        <div class="col s12 noPadding"  [ngsReveal]="{ reset: false}">
            <h3 class="text-center">
                DIPLOME ȘI PREMII
            </h3>
        </div>
        <div [ngsReveal]="{ reset: false}"  class="col s12 valign-wrapper hide-on-small-only">
            <div class="col s12 m6 valign-wrapper padd10px">
                <img width="100%" src="assets/img/diplomaOne.png"/>
            </div>
            <div class="col s12 m6 valign-wrapper padd10px">
                <img width="100%" src="assets/img/diplomaTwo.png"/>
            </div>
        </div>
        <div [ngsReveal]="{ reset: false}" class="col s12 valign-wrapper padd10px hide-on-med-and-up">
          <img width="100%" src="assets/img/diplomaOne.png"/>
        </div>
        <div [ngsReveal]="{ reset: false}" class="col s12 valign-wrapper padd10px margin10px hide-on-med-and-up">
          <img width="100%" src="assets/img/diplomaTwo.png"/>
        </div>
    </div>
    <div class="col s12">
        <div class="col s12 noPadding" [ngsReveal]="{ reset: false}">
            <h3 class="text-center">
                NE GĂSIȚI ȘI PE FACEBOOK:
            </h3>
        </div>
        <div [ngsReveal]="{ reset: false}" class="col s12 noPadding valign-wrapper">
            <a href="https://www.facebook.com/EFARM-TOP-1415830302052291" class="center-align valign fbButton" target="_blank">
              <i mz-icon-mdi
                 class="fbButton"
                 [icon]="'facebook'"
                 [rotate]="'0'"
                 [size]="'48px'">
              </i>
            </a>
        </div>
    </div>
</div>
