<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'"
  [closeOnClick]="true">
  <mz-sidenav-header>
    MENIU
  </mz-sidenav-header>
  <mz-sidenav-link class="pointer"><a routerLink="/acasa" class="waves-effect">ACASĂ</a></mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link class="pointer"><a routerLink="/despre" class="waves-effect">DESPRE NOI</a></mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-collapsible>
      <mz-sidenav-collapsible-header>
        <i mz-icon-mdi [icon]="'menu-right'" class="caret"></i>PRODUSE
      </mz-sidenav-collapsible-header>
      <mz-sidenav-collapsible-content>
        <mz-sidenav-link class="waves-effect pointer" *ngFor="let category of categories"><a [routerLink]="['/categorie', category._id]" class="waves-effect">{{category.name}}</a></mz-sidenav-link>
      </mz-sidenav-collapsible-content>
  </mz-sidenav-collapsible>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link class="pointer"><a routerLink="/promotii" class="waves-effect">PROMOȚII</a></mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link class="pointer"><a routerLink="/parteneri" class="waves-effect">PARTENERI</a></mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link class="pointer"><a routerLink="/contact" class="waves-effect">CONTACT</a></mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link class="pointer"><a routerLink="/cv" class="waves-effect">ÎNCARCĂ CV</a></mz-sidenav-link>
</mz-sidenav>
<div class="col s12">
  <div class="fillingGap row valign-wrapper">
    <div class="col s2 m1 hide-on-large-only">
      <button mz-button [flat]=true [float]="true" [id]="'btn-sidenav-demo'" aria-label="Meniu">
        <i mz-icon-mdi
           [align]="'left'"
           [flip]="'vertical'"
           [icon]="'menu'"
           [rotate]="'0'"
           [size]="'24px'">
        </i>
      </button>
    </div>
    <div class="col s10 m11 fillingGap text-center text-white hide-on-med-and-up">
      Vrei să faci parte din echipa noastră? Nimic mai simplu. <a class="text-white pointer underline" routerLink="/cv">Trimite-ne CV-ul tău!</a>
    </div>
    <div class="col s10 m12 fillingGap text-center text-white padding10 hide-on-small-only">
      Vrei să faci parte din echipa noastră? Nimic mai simplu. <a class="text-white pointer underline" routerLink="/cv">Trimite-ne CV-ul tău!</a>
    </div>
  </div>
    <div class="row valign-wrapper">
      <div class="col l3 hide-on-med-and-down">

      </div>
        <div class="col s10 m3 noPadding">
          <img id="logo" class="pointer" routerLink="/acasa" src="../assets/img/newLogo.png" alt="EFARM TOP Logo" width="180"/>
        </div>
        <div class="col s12 m9 noPadding right-align">
          <div class="chip">
            <b>Telefon:</b> 0724 281 819
          </div>
          <div class="chip">
            <b>Fax:</b> 0337 815 768
          </div>
          <div class="chip">
            <b>Email:</b> office@efarmtop.ro
          </div>
        </div>
        <div class="col l3 hide-on-med-and-down">

        </div>
    </div>
  <div class="row noMarginBottom hide-on-med-and-down">
    <div class="col m2 fillingGap extraDiv hide-on-small-only">

    </div>
    <div class="col m10 noPadding fillingGap">
      <mz-navbar>
        <mz-navbar-item-container [align]="'left'">
          <mz-navbar-item class="text-white pointer"><a routerLink="/acasa" routerLinkActive="activeNavbarItem">ACASĂ</a></mz-navbar-item>
          <mz-navbar-item class="text-white pointer"><a routerLink="/despre" routerLinkActive="activeNavbarItem">DESPRE NOI</a></mz-navbar-item>
          <mz-navbar-item class="text-white pointer">
            <mz-dropdown
              [id]="'dropdown-demo'"
              [align]="'left'"
              [belowOrigin]="true"
              [constrainWidth]="false"
              [dropdownButtonId]="'btn-dropdown-demo'"
              [gutter]="true"
              [hover]="false"
              [inDuration]="300"
              [outDuration]="300"
              [stopPropagation]="true"
            >
              <mz-dropdown-item *ngFor="let category of categories"><a [routerLink]="['/categorie', category._id]">{{category.name}}</a></mz-dropdown-item>
            </mz-dropdown>
            <a mz-button [flat]="true" id="btn-dropdown-demo" [ngClass]="{'activeNavbarItem' : sharedData.currentState === 'categories'}" class="text-white">PRODUSE</a>
          </mz-navbar-item>
          <mz-navbar-item class="text-white pointer"><a routerLink="/promotii" routerLinkActive="activeNavbarItem">PROMOȚII</a></mz-navbar-item>
          <mz-navbar-item class="text-white pointer"><a routerLink="/parteneri"  routerLinkActive="activeNavbarItem">PARTENERI</a></mz-navbar-item>
          <mz-navbar-item class="text-white pointer"><a routerLink="/contact"  routerLinkActive="activeNavbarItem">CONTACT</a></mz-navbar-item>
          <mz-navbar-item class="text-white pointer"><a routerLink="/cv" routerLinkActive="activeNavbarItem">ÎNCARCĂ CV</a></mz-navbar-item>
        </mz-navbar-item-container>
      </mz-navbar>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
